*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Kalam', cursive;
}

header img{
    width: 200px;
}

.border-item{
    border-left: 2px solid green;
}

.done{
    text-decoration: line-through;
}
.white{
    background-color: white;
}
.green{
    background-color: green;
    color: white;
}
.myImg img{
    width: 100px;
    padding-left: 10px;
}