*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header img{
    width: 300px;
}

.border-item{
    border-left: 2px solid green;
}

.done{
    text-decoration: line-through;
}
.white{
    background-color: white;
}
.green{
    background-color: green;
    color: white;
}