*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Kalam', cursive;
}

header img{
    width: 200px;
}

.border-item{
    border-left: 2px solid green;
}

.done{
    text-decoration: line-through;
}
.white{
    background-color: white;
}
.green{
    background-color: green;
    color: white;
}
.myImg img{
    width: 100px;
    padding-left: 10px;
}
.mybtn {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 1px solid grey;
    outline: none;
  }
  .mybtn:hover {
    transition: 1s ease-in-out;
    background: green;
    border: 2px solid black;
    color: white;
  }
  i:hover{
    color: red;
  }
  
  .mycontainer {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:green;
  }
  .second div {
    background-color:green;
  }
  .third div {
    background-color:green;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }